CI_HOST= # optional, used for info in responses or status updates
# server
SERVER_ADDR=:7878
# logger
LOG_LEVEL=info
# global github variable. used as default value for github plugin options
GITHUB_METHOD=POST
GITHUB_WEBHOOK_SECRET=
GITHUB_TOKEN=
GITHUB_RESPONSE_TIMEOUT=10s
GITHUB_TARGET_BRANCH=main
GITHUB_EVENT_TYPE=push # change to workflow_job for workflow job events
# workflow job event options
GITHUB_WORKFLOW_NAME= # optional, workflow name (yaml value of root `name` field)
GITHUB_WORKFLOW_JOB_NAME= # required for workflow event type, job after which execute `goci` workflow step (internal pipeline)
GITHUB_WORKFLOW_ACTION=completed # required for workflow event type, workflow action (queued, in_progress, completed)
GITHUB_WORKFLOW_STATUS_CONTEXT=goci/deploy # required for workflow event type, context value for status updates
