GOCI_HOST= # optional, used for info in responses or status updates
GOCI_TASKQ_SIZE=100
# server
GOCI_SERVER_ADDR=:7878
# logger
GOCI_LOG_LEVEL=info
# global github variable. used as default value for github plugin options
GOCI_GITHUB_METHOD=POST
GOCI_GITHUB_WEBHOOK_SECRET=
GOCI_GITHUB_TOKEN=
GOCI_GITHUB_RESPONSE_TIMEOUT=10s
GOCI_GITHUB_TARGET_BRANCH=main
GOCI_GITHUB_EVENT_TYPE=push # change to workflow_job for workflow job events
GOCI_GITHUB_COMMIT_STATUS_CONTEXT=goci/deploy # optional
# workflow job event options
GOCI_GITHUB_WORKFLOW_NAME= # optional, workflow name (yaml value of root `name` field)
GOCI_GITHUB_WORKFLOW_JOB_NAME= # required for workflow event type, job after which execute `goci` workflow step (internal pipeline)
GOCI_GITHUB_WORKFLOW_ACTION=completed # required for workflow event type, workflow action (queued, in_progress, completed)
